* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#covid {
  width: 100%;
  height: 35px;
  background-color: #233a95;
  display: flex;
  align-items: center;
  justify-content: center;
}
#covid__text {
  font-size: small;
  color: white;
}

.navbar1 {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(227, 227, 227);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar1__left ul {
  padding-left: 250px;
}
.navbar1__left ul li {
  color: rgb(88, 88, 88);
  text-decoration: none;
  display: inline;
  margin-left: 10px;
  font-size: small;
  transition: 0.3s;
}
.navbar1__left ul li:hover {
  cursor: pointer;
  color: #2bbef9;
}
.navbar1__middle .secure {
  color: rgb(152, 151, 151);
}
.navbar1__middle .secure--text {
  color: rgb(152, 151, 151);
  font-size: small;
  padding-right: 20px;
  border-right: 1px solid rgb(205, 205, 205);
}
.navbar1__middle .help {
  color: rgb(152, 151, 151);
  font-size: small;
  padding-right: 20px;
  border-right: 1px solid rgb(204, 204, 204);
}
.navbar1__middle .help #phoneNum {
  color: #2bbef9;
  font-weight: 700;
}
.navbar1__middle .help #phoneNum:hover {
  cursor: pointer;
}
.navbar1__right {
  /* Dropdown Button */
  padding-right: 500px;
  color: #2bbef9;
}
.navbar1__right .dropbtn {
  background-color: white;
  color: rgb(119, 119, 119);
  padding: 10px;
  font-size: 12px;
  border: none;
  transition: 0.3s;
}
.navbar1__right .dropbtn:hover {
  color: #2bbef9;
  cursor: pointer;
}
.navbar1__right .dropdown {
  position: relative;
  display: inline-block;
}
.navbar1__right .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navbar1__right .dropdown-content a {
  color: rgb(78, 78, 78);
  padding: 12px 10px;
  font-size: 12px;
  text-decoration: none;
  display: block;
}
.navbar1__right .dropdown-content a:hover {
  color: #2bbef9;
}
.navbar1__right .dropdown:hover .dropdown-content {
  display: block;
  color: #2bbef9;
}
.navbar1__right .dropdown:hover .dropbtn {
  background-color: #ffffff;
}

.container {
  width: 85%;
  margin: auto;
}
.container nav .navbar {
  width: 100%;
  height: 250px;
}
.container nav .navbar__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.container nav .navbar__up__left #logo {
  width: 170px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  padding-left: 25px;
  margin-right: 25px;
}
.container nav .navbar__up__middle {
  display: flex;
  justify-content: center;
}
.container nav .navbar__up__middle input {
  width: 400px;
  height: 60px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  border: none;
  background-color: whitesmoke;
  padding-left: 15px;
}
.container nav .navbar__up__middle button {
  width: 35px;
  height: 60px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border: none;
  background-color: whitesmoke;
}
.container nav .navbar__up__right {
  width: 350px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.container nav .navbar__up__right button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgb(216, 215, 215);
  padding: 2px;
  background-color: white;
}
.container nav .navbar__up__right .showhim button {
  background-color: rgb(254, 241, 236);
  margin-left: 20px;
}
.container nav .navbar__up__right .showhim button i {
  color: orangered;
}
.container nav .navbar__up__right .showhim:hover {
  cursor: pointer;
}
.container nav .navbar__up__right .showme {
  display: none;
  width: 250px;
  height: 200px;
  background-color: #a41d1d;
  position: absolute;
}
.container nav .navbar__up__right .showhim:hover .showme {
  display: block;
}
.container nav .navbar__down {
  display: flex;
  flex-direction: row;
}
.container nav .navbar__down__left .category button {
  width: 180px;
  height: 60px;
  padding: 10px 16px;
  background-color: #2bbef9;
  border: none;
  color: white;
  margin-left: 20px;
  border-radius: 30px;
}
.container nav .navbar__down__left .category button i {
  color: rgb(255, 255, 255);
}
.container nav .navbar__down__left .category:hover {
  cursor: pointer;
}
.container nav .navbar__down__right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container nav .navbar__down__right ul {
  margin-left: 120px;
}
.container nav .navbar__down__right ul li {
  margin-left: 10px;
  list-style: none;
  display: inline;
  padding-left: 20px;
  transition: 0.3s;
  padding: 10px;
}
.container nav .navbar__down__right ul li:hover {
  cursor: pointer;
  color: #2bbef9;
  border-radius: 50px;
  background-color: rgb(235, 247, 252);
}

.button {
  padding-top: 15px;
  padding-bottom: 15px;
}

.modal-body {
  color: gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.modal-body #location {
  width: 400px;
  height: 50px;
}
.modal-body ul li {
  text-decoration: none;
  list-style: none;
  margin: 5px;
}

.carousel .carousel-inner {
  height: 500px;
}

.carousel-inner .carousel-item img {
  min-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .carousel .carousel-inner {
    height: auto;
  }
}
section #active {
  display: block;
  margin-top: -25%;
  margin-left: 15%;
  width: 250px;
  height: 400px;
  background-color: #793939;
}

#horizontal {
  width: 100%;
  height: 1px;
  background-color: rgb(214, 214, 214);
}

@media only screen and (max-width: 920px) {
  body {
    font-size: 10px;
  }
  body .covid {
    display: none;
  }
  body .navbar1 {
    display: none;
  }
}
.s__second__left img {
  margin-top: 1%;
  margin-left: 15% !important;
}/*# sourceMappingURL=style.css.map */