
#subscribe {
  margin-top: 500px;
    position: relative;
    padding: 3.5rem 0;
    background-color: #233a95;
  }
  
  #subscribe .content h6 {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 300;
    color: white;
  }
  
  #subscribe .content h3 {
    color: white;
    font-size: 1.625rem;
    font-weight: 600;
    margin-bottom: .9375rem;
  }
  
  #subscribe .content p {
    font-size: .8125rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #fff;
    opacity: 0.5;
  }
  
  #subscribe .content .form-validate {
    position: relative;
  }
  
  #subscribe .content .form-validate .input {
    padding: 0 15px 0 50px;
    height: 3.875rem;
    border-radius: 4px;
    border: 1px solid #d9d9e9;
    width: 100%;
    outline: none;
  }
  
  #subscribe .content .form-validate .submit {
    position: absolute;
    font-size: .8125rem;
    font-weight: 500;
    bottom: 4px;
  
            transform: translateY(-3px);
    right: 4px;
    width: 20%;
    padding: 0 1.25rem;
    background-color: #233a95;
    border: none;
    border-radius: 4px;
    color: white;
    height: 50px;
    cursor: pointer;
  }
  
  #subscribe .content .form-validate i {
    position: absolute;
    font-size: 18px;
    color: #c2c2d3;
    top: 50%;
  
            transform: translateY(-50%);
    left: 20px;
  }
  
  #subscribe .image {
    position: absolute;
    bottom: 0;
    margin-left: 10rem;
  }
  
  footer {
    background-color: #F7F8FD;
  }
  
  footer .top {
    padding: 2rem;
    border-bottom: 1px solid #d9d9e9;
  }
  
  footer .top .first,
  footer .top .second,
  footer .top .third {
    border-right: 1px solid #d9d9e9;
  }
  
  footer .top i {
    margin-right: 5px;
  }
  
  footer .top span {
    font-size: .8125rem;
    font-weight: 500;
    line-height: 1.5;
  }
  
  footer .middle {
    padding: 4rem 0;
  }
  
  footer .middle ul {
    padding: 0;
  }
  
  footer .middle ul a {
    color: #71778e;
    font-weight: 400;
    font-size: .875rem;
  }
  
  footer .middle ul li {
    margin-bottom: 5px;
  }
  
  footer .middle h4 {
    color: #202435;
    font-size: .9375rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
  }
  
  #footer .top {
    padding: 1rem 0;
    background-color: white;
    border-bottom: 1px solid #c2c2d3;
  }
  
  #footer .top .left .tel-icon {
    color: #202435;
    margin-right: 15px;
  }
  
  #footer .top .left i {
    border: 1px solid #e4e5ee;
    padding: 1rem;
    border-radius: 100%;
  }
  
  #footer .top .left .tel-info h4 {
    color: #202435;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 3px;
  }
  
  #footer .top .left .tel-info span {
    font-size: .6875rem;
    opacity: 0.5;
    font-weight: 400;
  }
  
  #footer .top .right {
    padding: 2rem 0;
  }
  
  #footer .top .right .app-content h6 {
    color: #202435;
    font-size: .875rem;
    font-weight: 600;
    margin: 0;
  }
  
  #footer .top .right .app-content span {
    font-size: .75rem;
    opacity: 0.5;
  }
  
  #footer .top .right .app-buttons a {
    display: block;
    margin-right: 10px;
  }
  
  #footer .top .right .social-buttons i {
    padding: 5px 6px;
    border: 1px solid #d9d9e9;
    border-radius: 100%;
    color: #233A95;
  }
  
  #footer .bottom {
    padding: 2rem 0;
  }
  
  #footer .bottom .left p {
    font-size: 0.75rem;
    opacity: 0.5;
  }
  
  #footer .bottom .middle ul {
    padding: 0;
    float: left;
  }
  
  #footer .bottom .middle ul li {
    margin-right: 6px;
  }
  
  #footer .bottom .middle ul li a {
    color: #9b9bb4;
    font-size: 0.75rem;
  }
  
  
  @media (max-width: 576px) {
   
  
    footer .top {
      text-align: left !important;
    }
    footer .top .first,
    footer .top .second,
    footer .top .third {
      border: none;
    }
    #footer .social-buttons {
      margin-top: 20px;
      text-align: left !important;
    }
    #footer .app-content {
      text-align: left !important;
    }
  
  }
  @media only screen and (max-width: 920px) {
    body {
      font-size: 10px;
    }
    body .covid {
      display: none;
    }
    body .navbar1 {
      display: none;
    }
  }
  .s__second__left img {
    margin-top: 1%;
    margin-left: 15% !important;
  }/*# sourceMappingURL=style.css.map */
  